* {
    box-sizing: border-box;
}

body {
    position: relative;
}

header{
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 12px;
    height: 25px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}
         
.modal {
    width: 350px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 10px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: 0;
    border-radius: 15%;
    background-color: transparent;
    color: black;
    transition: background-color .4s ease;
    font: 1.5em sans-serif;
}
  
.modal-next,
 .modal-back {
    display: block;
    position: absolute;
    font: 1.6em sans-serif;
    top: 150px;
    border: 0;
    background-color: transparent;
    
 }
 
.modal-next {
     right: 20px;
}

.modal-back {
    left: 20px;
  }
 
  

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 20px;
    padding-left: 15px;
}

.card {
    display: flex;
    justify-content: center;
    border: 1px solid grey;

}

.avatar {
  
    border-radius: 50%;
    margin: auto;
    height: 80%;
}

.text-container {
    padding-right: 10px;
    font-size: 15px;
}

input[type=search] {
    background-color: #fff;
    color: black;
    padding-left: 1rem;
    width: 332px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
 }
  
  input::placeholder {
    color: #0d0f18;
    text-align: left;
  }

 

  @media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    header {
        padding: 20px;
    }
    .head {
        display: flex;
        padding: 5px;
    }

    h1 {
        
        font-size: 16px;
       padding-right: 30px;
    }
    
    .input-search {
        padding-left: 16px;
        margin-left: auto;
    }

    .modal {
        width: 500px;
    }

    }

    
  @media (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    h1 {
        
        font-size: 20px;
       
    }

    .modal {
        width: 800px;
    }

  }